.app-container {
  width: 600px;
  margin: auto;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.filter-button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
}

.filter-button:hover {
  background-color: #003f7f;
}

.task-input {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.task-input input {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px;
}

.task-input input::placeholder {
  color: #aaa;
}

.task-input input:focus {
  outline: none;
  border-bottom: 2px solid #007bff;
}

.add-button {
  background-color: #28a745;
  color: white;
  border: none;
}

.add-button:hover {
  background-color: #218838;
}

.task-list {
  list-style-type: none;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-list li:nth-child(odd) {
    background-color:#f7f7f7;
}

.task-content {
    display:flex;
    align-items:center;
}

.task-content input[type="checkbox"] {
    appearance:none;
    width:20px;
    height:20px;
    background-color:#6c757d;
    margin-right:10px;
    border-radius:4px;
    position:relative;
    cursor:pointer;
}

.task-content input[type="checkbox"]:checked::after {
    content:"✔";
    color:white;
    font-size:14px;
    position:absolute;
    top:-2px;
    left:4px;
}

.completed span {
    text-decoration-line: line-through;
    color:#6c757d;
}

.edit-button,
.delete-button,
.update-button {
    background:none;
    border:none;
    cursor:pointer;
}

.update-button {
    background-color:#28a745;
    color:white;
    padding:5px 10px;
    border-radius:5px;
}

.update-button:hover {
   background-color:#218838;
}

.delete-button:hover {
   color:red;
}
